:root{
    --backgroud-color: #18110C;
    --backgroud-raised: #241A12;
    --textcolor-normal: #1A120D;
    --textcolor-lightgrey: #B4A594;
    --textcolor-cream: #F4EAD9;
    --textcolor-lightred: #D2572E;
    --accent-mustard: #E8B23D;
    --accent-blue: #4E86C6;
    --card-color: #F4EAD9;
}
