:root{
    --backgroud-color: #F4EEE1;
    --textcolor-normal: #201411;
    --textcolor-lightgrey: #9C917E;
    --textcolor-lightred: #C1442C;
    --accent-blue: #2A4B8D;
    --card-color: #FFFCF6;
}
