@font-face {
    font-family: "Anton";
    src: url(../fonts/Anton-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Sora";
    src: url(../fonts/Sora-VariableFont_wght.ttf);
    font-display: swap;
}

h1#title{
    color: var(--textcolor-normal);
    font-family: Anton;
    text-transform: none;
}
